.wrapper
  .chat-side
    .side-header
      .side-header__box
        .side-header__box__user-name
        %p 
          名前書く場所
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
            = fa_icon 'fa-edit', class: "fa fa-edit"
          %li.side-header__box__menu__edit-user 
            = fa_icon 'fa-cog', class: "fa fa-cog"

    .groups
      %a{href: "#"}
        .group
          %p.group__group-name 
            グループの名前
          %p.group__latest-message 
            最新のメッセージ

  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          グループの名前
        %ul.main-header__left-box__member-list
          Member : 
          %li.main-header__left-box__member-list__member
            自分の名前
      %a{href: "#"}
        .main-header__edit-btn
          Edit

    .messages

    .form
      %form.new-message
        .input-box
          %input.input-box__text{:name => "message[content]", :type => "text", :placeholder => "type a message"}
          %label.input-box__label{for: "upload-icon"}
            %i.fa.fa-picture-o{class: "icon"}
            %input.none{type: "file", id: "upload-icon"}
        
        %input.submit-btn{:name => "commit", :type => "submit", :value => "Send", :data-disable-with => "Send"}